:root {
    --var-color-primary: rgb(227, 114, 0);
    --var-color-secondary: rgb(255, 255, 255);
    --var-fondo-card: #353535;
}

* {
    font-family: 'Stylish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--var-color-primary);
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--var-color-primary);
    border-radius: 20px;
}

.main-container {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.sub-container {
    margin: 0 auto;
}

.separador {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--var-color-primary);
}

.fondo-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;

    & .f-item {
        height: 200px;
        width: 300px;
        border-radius: 100%;
        filter: blur(55px);
        background-color: rgba(255, 140, 0, 0.059);
    }

    & .f1 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    & .f2 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    & .f3 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f4 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    & .f5 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    & .f6 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }


    & .f7 {
        animation-duration: 20s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    & .f8 {
        animation-duration: 20s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    & .f9 {
        animation-duration: 20s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f10 {
        animation-duration: 20s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    & .f11 {
        animation-duration: 20s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    & .f12 {
        animation-duration: 20s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }


    & .f13 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    & .f14 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    & .f15 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f16 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    & .f18 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    & .f19 {
        animation-duration: 20s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}


@keyframes fondo1 {

    0%,
    100% {
        transform: translateY(-20vh);
    }

    50% {
        transform: translateY(100vh);
        transform: translateX(-10vw);
    }
}


@keyframes fondo2 {

    0%,
    100% {
        transform: translateY(-90vh);
    }

    50% {
        transform: translateY(100vh);
        transform: translateX(20vw);
    }
}

@keyframes fondo3 {

    0%,
    100% {
        transform: translateY(-120vh);
    }

    50% {
        transform: translateY(100vh);
    }
}

/*====> Navigation*/
.navigation-container-right {
    display: none;
    right: 0;
    width: 10%;
    position: fixed;
    padding-top: 10%;
    padding-right: 17px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.497), rgba(255, 255, 255, 0));
    height: 100vh;

    & .navigation-nav {
        display: flex;
        justify-content: right;
        text-align: right;
        padding: 15px;
        border-right: 2px solid var(--var-color-primary);

        & .nav-list-container {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: fit-content;

            & li {

                & a {
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    font-size: 1.8rem;
                    transition: border-bottom 0.2s ease-in;
                }

                & a:hover {
                    border-bottom: 2px solid var(--var-color-primary);
                }
            }
        }
    }
}

.navigation-container {
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #433d3d00;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.4s;

    & .navigation-nav {
        padding: 15px;
        display: flex;
        flex-direction: row;


        & .nav-title {
            font-size: 3rem;
            flex: auto;
        }

        & .nav-list-container {
            flex: auto;
            list-style-type: none;
            font-size: 1.4rem;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            gap: 30px;
            width: fit-content;

            & li {

                & a {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    transition: all 0.2s ease-in;
                }

                & a:hover {
                    border-bottom: 2px solid var(--var-color-primary);
                }
            }
        }
    }
}

.navigation-arrow-container {
    display: none;
    opacity: 0;
    left: -220px;
    top: 20%;
    width: fit-content;
    position: fixed;
    padding-left: 17px;
    padding-top: 0;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.453);
    backdrop-filter: blur(1px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    flex-direction: row;
    transition: all 1s;

    & .navigation-nav {
        padding: 15px;
        border-left: 2px solid var(--var-color-primary);

        & .nav-list-container {
            list-style-type: none;
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: fit-content;

            & li {

                & a {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    transition: all 0.2s ease-in;
                }

                & a:hover {
                    border-bottom: 2px solid var(--var-color-primary);
                }
            }
        }
    }

    & .nv-arrow {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: var(--var-color-primary);
    }
}

/*====> about*/
.c-1 {
    padding-top: 90px;
    margin-bottom: 80px;
    height: 90vh;
    display: flex;
    flex-direction: column;

    & .about-body {
        flex: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-left: 100px;
        padding-right: 100px;

        & .about-body-des {
            flex: 50%;
            font-size: 1.5rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h1 {
                display: none;
                font-size: 5rem;
                height: fit-content;
            }

            & p {
                margin-top: 30px;
                height: fit-content;

            }

            & .boton-cv {
                font-size: 1.1rem;
                text-decoration: none;
                background-color: var(--var-color-primary);
                width: fit-content;
                color: var(--var-color-secondary);
                padding: 8px;
                border-radius: 10px;
                transition: transform 0.2s;
            }

            & .boton-cv:hover {
                transform: scale(1.1);
            }

            & .about-body-contact {
                display: flex;
                gap: 20px;


                & a {
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    font-size: 2.8rem;
                    transition: border-bottom 0.2s ease-in;
                    color: var(--var-color-primary);
                }
            }
        }

        & .about-body-img {
            height: 450px;
            display: flex;

            & img {
                object-fit: fill;
                width: auto;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}


/*====> proyectos */
.c-2 {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & .projects-title {
        width: 100%;

        & h1 {
            font-size: 4rem;
            height: fit-content;
            text-align: center;
        }
    }

    & .projects-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;


        & .projects-card {
            position: relative;
            width: 330px;
            height: auto;
            border: 2px solid rgb(255, 255, 255);
            color: #ffffff;
            border-radius: 10px;
            background-color: var(--var-fondo-card);
            transition: all 0.2s ease-in-out;


            & .projects-link-external {
                position: absolute;
                border-radius: 10px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #6a6a6a7e;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all 0.2s ease-in-out;

                & div {
                    color: #ffffff;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    & a {
                        font-size: 3rem;
                        cursor: pointer;
                        color: #ffffff;

                        & label {
                            color: #ffffff;
                        }
                    }
                }
            }

            & .projects-card-content {
                padding: 20px;
                text-align: center;

                & .projects-card-img {
                    max-width: 100%;
                    min-height: 150px;
                    max-height: 200px;
                    border-radius: 10px;
                }

                & .projects-card-body {
                    margin-top: 10px;

                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    & .projects-card-body-des {

                        & h2 {
                            font-size: 2.2rem;
                        }

                        & p {
                            margin-top: 10px;
                            font-size: 1.2rem;
                        }
                    }

                    & .projects-card-body-tec {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        justify-content: center;

                        & span {
                            font-size: 1rem;
                            padding: 10px;
                            background-color: #282828;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        & .projects-card:hover {
            transform: scale(1.03);

            & .projects-link-external {
                opacity: 1;
                display: flex;
            }
        }
    }
}

/*====> skills*/
.c-3 {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & .skill-title {
        width: 100%;

        & h1 {
            font-size: 4rem;
            height: fit-content;
            text-align: center;
        }
    }

    & .skill-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        & .skill-card {
            width: 100px;
            height: 100px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 10px;
            background-color: #ffffff;
            text-align: center;
            padding: 5px;

            & svg {
                width: 100%;
                height: 100%;
            }
        }



    }
}

/*====> contacto*/
.c-4 {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & .contacto-title {
        width: 100%;

        & h1 {
            font-size: 4rem;
            height: fit-content;
            text-align: center;
        }
    }

    & .contacto-body {
        background-color: var(--var-fondo-card);
        padding: 20px;
        border-radius: 10px;
        border: 2px solid var(--var-color-secondary);

        & .contacto-form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & label {
                font-size: 1.3rem;
                color: var(--var-color-secondary);
            }

            & input {
                flex: auto;
                color: var(--var-color-secondary);
                padding: 10px;
                border-radius: 5px;
                font-size: 1.2rem;
                outline: none;
                background-color: #6a6a6a7e;
                border: 1px solid var(--var-color-secondary);
                transition: all 0.2s;
            }

            & input:focus,
            textarea:focus {
                box-shadow: 0 0 0 5px #8585857e;
            }

            & textarea {
                color: var(--var-color-secondary);
                padding: 10px;
                border-radius: 5px;
                font-size: 1.2rem;
                outline: none;
                background-color: #6a6a6a7e;
                border: 1px solid var(--var-color-secondary);
                transition: all 0.2s;
            }

            & .contacto-input-submit {
                margin-top: 15px;
                background-color: var(--var-color-primary);
                color: var(--var-color-secondary);
                border: none;
            }

            & .contacto-input-submit:hover {
                box-shadow: 0 0 0 5px #8585857e;
            }
        }
    }

}

/*===> footer container*/
.c-5 {
    margin-top: 10px;
    height: 100px;

    & .footer-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        font-size: 1.3rem;
        color: #b5b5b5;
        height: fit-content;

        & a {
            vertical-align: middle;
            height: fit-content;
            color: #b5b5b5;
            text-decoration: none;
        }
    }
}

/*===> por defecto*/
.btn {
    padding: 7px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}


@media (width <=1024px) {
    .main-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navigation-container-right {
        display: none;
    }

    .navigation-container {
        display: none;
    }

    .navigation-arrow-container {
        display: flex;
    }

    /*====> about*/
    .c-1 {
        padding-top: 0px;
        margin-bottom: 100px;
        height: fit-content;
        display: flex;
        flex-direction: column;

        & .about-body {
            padding-top: 20px;
            flex: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-right: 10px;

            & .about-body-des {
                flex: 50%;
                font-size: 1.5rem;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: right;
                align-items: start;

                & h1 {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 4.5rem;
                    height: fit-content;
                }

                & p {
                    height: fit-content;
                }

                & .about-body-contact {
                    display: flex;
                    gap: 20px;


                    & a {
                        border-bottom: 2px solid transparent;
                        padding-bottom: 6px;
                        font-size: 2.8rem;
                        transition: border-bottom 0.2s ease-in;
                        color: var(--var-color-primary);
                    }

                }
            }

            & .about-body-img {
                height: 400px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;


                & img {
                    object-fit: fill;
                    width: 100%;
                    border-radius: 50px;
                }
            }
        }
    }

    /*====> proyectos */
    .c-2 {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .projects-title {
            width: 100%;

            & h1 {
                font-size: 3rem;
                height: fit-content;
                text-align: center;
            }
        }

        & .projects-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;


            & .projects-card {
                position: relative;
                width: 330px;
                height: auto;
                border: 2px solid rgb(255, 255, 255);
                color: #ffffff;
                border-radius: 10px;
                background-color: #353535;
                transition: all 0.2s ease-in-out;


                & .projects-link-external {
                    position: absolute;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #6a6a6a7e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;

                    & div {
                        color: #ffffff;
                        display: flex;
                        flex-direction: row;
                        gap: 20px;

                        & a {
                            font-size: 3rem;
                            cursor: pointer;
                            color: #ffffff;

                            & label {
                                color: #ffffff;
                            }
                        }
                    }
                }

                & .projects-card-content {
                    padding: 20px;
                    text-align: center;

                    & .projects-card-img {
                        max-width: 100%;
                        min-height: 150px;
                        max-height: 200px;
                        border-radius: 10px;
                    }

                    & .projects-card-body {
                        margin-top: 10px;

                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        & .projects-card-body-des {

                            & h2 {
                                font-size: 2.2rem;
                            }

                            & p {
                                margin-top: 10px;
                                font-size: 1.2rem;
                            }
                        }

                        & .projects-card-body-tec {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;
                            justify-content: center;

                            & span {
                                font-size: 1rem;
                                padding: 10px;
                                background-color: #282828;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            & .projects-card:hover {
                transform: scale(1.03);

                & .projects-link-external {
                    opacity: 1;
                    display: flex;
                }
            }
        }
    }

    /*====> skills*/
    .c-3 {
        margin-top: 50px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .skill-title {
            width: 100%;

            & h1 {
                font-size: 3rem;
                height: fit-content;
                text-align: center;
            }
        }

        & .skill-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: center;

            & .skill-card {
                width: 80px;
                height: 80px;
                border: 2px solid rgb(255, 255, 255);
                border-radius: 10px;
                background-color: #ffffff;
                text-align: center;
                padding: 5px;

                & svg {
                    width: 100%;
                    height: 100%;
                }
            }



        }
    }

    /*====> contacto*/
    .c-4 {
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .contacto-title {
            width: 100%;

            & h1 {
                font-size: 3rem;
                height: fit-content;
                text-align: center;
            }
        }

        & .contacto-body {
            flex: auto;
            background-color: var(--var-fondo-card);
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--var-color-secondary);

            & .contacto-form {
                display: flex;
                flex-direction: column;
                gap: 18px;


                & label {
                    font-size: 1.3rem;
                    color: var(--var-color-secondary);
                }

                & input {
                    color: var(--var-color-secondary);
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    outline: none;
                    background-color: #6a6a6a7e;
                    border: 1px solid var(--var-color-secondary);
                }

                & textarea {
                    color: var(--var-color-secondary);
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    outline: none;
                    background-color: #6a6a6a7e;
                    border: 1px solid var(--var-color-secondary);
                }

                & .contacto-input-submit {
                    margin-top: 15px;
                    background-color: var(--var-color-primary);
                    color: var(--var-color-secondary);
                    border: none;
                }
            }

        }

    }

    /*===> footer container*/
    .c-5 {
        margin-top: 10px;
        height: 80px;

        & .footer-container {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 10px;
            font-size: 1.3rem;
            color: #b5b5b5;
            height: fit-content;

            & a {
                vertical-align: middle;
                height: fit-content;
                color: #b5b5b5;
                text-decoration: none;
            }
        }
    }

    .fondo-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;

        & .f-item {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            filter: blur(55px);
            background-color: rgba(255, 140, 0, 0.542);
        }
    }

}