:root {
    --var-color-primary: #e37200;
    --var-color-secondary: #ffbf10;
    --var-color-tertiary: #ffffff;
    --var-bg-card: #2f2f2f;
    --var-bg: #202020;
    --var-titulos: 3rem;
    --var-subtitulos: 2rem;
    --var-parrafos: 1.5rem;
    --var-parrafos-2: 1.3rem;
    --var-parrafos-3: 1.2rem;
}

body {
    margin: 0;
    background-color: var(--var-bg);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

* {
    font-family: 'Stylish', sans-serif;
}

a {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--var-color-primary);
    font-family: 'Lilita One', cursive;
    font-weight: 200;
    z-index: 1;
    cursor: default;
}

p,
label {
    cursor: default;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--var-color-primary);
    border-radius: 20px;
}

.main-container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.separador {
    width: 100%;
    background-color: transparent;
    border: 2px solid rgba(227, 113, 0, 0.778);
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2020209f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;

    & .modal-container {
        background-color: var(--var-bg-card);
        width: 70%;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .modal-cabecera {
            display: flex;
            flex-direction: row;
            align-items: center;

            & .modal-title {
                flex: auto;
                text-align: left;
                height: fit-content;
                font-size: var(--var-subtitulos);
            }

            & button {
                padding: 0;
                margin: 0;
                font-size: 2.8rem;
                display: flex;
                color: var(--var-color-primary);
                background-color: transparent;
                border: none;
            }
        }

        & .modal-content {
            height: 100%;
        }
    }
}

.carrusel-container {
    width: 100%;
    height: 500px;
    position: relative;

    & .carrusel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;

        & .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            flex: auto;
            transition: all 0.5s ease;
            visibility: hidden;
            opacity: 0;
            display: flex;
            justify-content: center;

            & img {
                max-width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    & .btn {
        font-size: 3.5rem;
        position: absolute;
        top: 40%;
        height: fit-content;

        & button {
            margin: 0;
            padding: 0;
            color: var(--var-color-secondary);
            border: none;
            display: flex;
            background-color: transparent;
            cursor: pointer;

        }
    }

    & .left {
        left: 10px;
    }

    & .right {
        right: 10px;
    }
}

/* fondo animado */
.fondo-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & .f-item {
        height: 80px;
        width: 80px;
        border-radius: 100%;
        filter: blur(120px);
        background-color: var(--var-color-primary);
    }

    & .f1 {
        animation-duration: 130s;
        animation-name: fondo1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f2 {
        animation-duration: 120s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f3 {
        animation-duration: 90s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }



    & .f6 {
        animation-duration: 100s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f5 {
        animation-duration: 70s;
        animation-name: fondo2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .f4 {
        animation-duration: 100s;
        animation-name: fondo3;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes fondo1 {

    0%,
    100% {
        transform: translateY(-20vh);
    }

    50% {
        transform: translateY(120vh);
    }
}

@keyframes fondo2 {

    0%,
    100% {
        transform: translateY(120vh);
    }

    50% {
        transform: translateY(-20vh);
    }
}

@keyframes fondo3 {

    0%,
    100% {
        transform: translateY(-20vh);
    }

    50% {
        transform: translateY(130vh);
    }
}

/* ====> Navigation */
.navigation-container {
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    transition: all 0.4s;

    & .navigation-nav {
        max-width: 60rem;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;

        & .nav-title {
            font-size: 3.2rem;
            flex: auto;
        }

        & .nav-list-container {
            flex: auto;
            list-style-type: none;
            font-size: 1.4rem;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            gap: 30px;
            width: fit-content;

            & li {
                transition: all 0.2s ease-in-out;

                & a {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    transition: all 0.2s ease-in;
                    color: var(--var-color-tertiary);
                }
            }

            & li:hover {
                transform: scale(1.1);
            }
        }
    }
}

.navigation-arrow-container {
    display: none;
    opacity: 0;
    left: -220px;
    top: 20%;
    width: fit-content;
    position: fixed;
    padding-left: 17px;
    padding-top: 0;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.453);
    backdrop-filter: blur(1px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    flex-direction: row;
    transition: all 1s;

    & .navigation-nav {
        padding: 15px;
        border-left: 2px solid var(--var-color-primary);

        & .nav-list-container {
            list-style-type: none;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: fit-content;

            & li {

                & a {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    transition: all 0.2s ease-in;
                    color: var(--var-color-tertiary);
                }

                & a:hover {
                    border-bottom: 2px solid var(--var-color-primary);
                }
            }
        }
    }

    & .nv-arrow {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: var(--var-color-primary);
    }
}

/* ====> about */
.c-1 {
    margin-bottom: 100px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;

    & .about-body {
        flex: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 40px;

        & .about-body-des {
            flex: 75%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h1 {
                display: none;
                font-size: var(--var-titulos);
                height: fit-content;
            }

            & p {
                font-size: var(--var-parrafos);
                height: fit-content;
                color: var(--var-color-tertiary);

                & label {
                    font-size: var(--var-parrafos);
                    display: inline;
                    font-family: 'Lilita One';
                    color: var(--var-color-primary);
                }

            }

            & .about-body-contact {
                display: flex;
                gap: 20px;

                & a {
                    border-bottom: 2px solid transparent;
                    padding-bottom: 6px;
                    font-size: 2.8rem;
                    transition: border-bottom 0.2s ease-in;
                    color: var(--var-color-primary);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .boton-cv {
                    margin-top: 5px;
                    font-size: 1.1rem;
                    height: fit-content;
                    text-decoration: none;
                    background-color: var(--var-color-primary);
                    width: fit-content;
                    color: var(--var-color-tertiary);
                    padding: 8px;
                    border-radius: 10px;
                }
            }
        }

        & .about-body-img {
            width: 35%;
            display: flex;

            & img {
                object-fit: fill;
                max-width: 100%;
                animation: logo 20s ease-in-out infinite;
            }
        }
    }
}

@keyframes logo {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(160deg);
    }


}

/* ====> proyectos */
.c-2 {
    margin-bottom: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    & .projects-title {
        width: 100%;

        & h1 {
            font-size: var(--var-titulos);
            height: fit-content;
            text-align: center;
        }
    }

    & .projects-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;


        & .projects-card {
            position: relative;
            width: 300px;
            height: auto;

            color: var(--var-color-secondary);
            border-radius: 10px;
            background-color: var(--var-bg-card);
            transition: all 0.2s ease-in-out;


            & .projects-link-external {
                position: absolute;
                border-radius: 10px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #6a6a6a7e;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all 0.2s ease-in-out;

                & div {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    & a {
                        font-size: 3rem;
                        cursor: pointer;

                        & label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--var-color-tertiary);
                            cursor: pointer;
                        }
                    }

                    & button {
                        background-color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        border: none;
                        font-size: 3rem;
                        color: var(--var-color-tertiary);
                        cursor: pointer;
                    }
                }
            }

            & .projects-card-content {
                padding: 20px;
                text-align: center;

                & .projects-card-img {
                    width: 100%;
                    height: 140px;
                    border-radius: 10px;
                    object-fit: fill;
                }

                & .projects-card-body {
                    margin-top: 10px;

                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    & .projects-card-body-des {

                        & h2 {
                            font-size: var(--var-subtitulos);
                        }

                        & p {
                            margin-top: 10px;
                            font-size: var(--var-parrafos-3);
                            color: var(--var-color-tertiary);
                        }
                    }

                    & .projects-card-body-tec {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        justify-content: center;

                        & span {
                            font-size: 1rem;
                            padding: 10px;
                            background-color: var(--var-bg);
                            border-radius: 10px;
                            color: var(--var-color-secondary);
                        }
                    }
                }
            }
        }

        & .projects-card:hover {
            transform: scale(1.03);

            & .projects-link-external {
                opacity: 1;
                display: flex;
            }
        }
    }
}

/* ====> skills */
.c-3 {
    margin-bottom: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    & .skill-title {
        width: 100%;

        & h1 {
            word-break: normal;
            font-size: var(--var-titulos);
            height: fit-content;
            text-align: center;
        }
    }

    & .c-3-sub {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h1 {
            text-align: center;
            font-size: var(--var-subtitulos);
            margin-left: 10px;
        }

        & .certificados-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding-top: 20px;
            justify-content: center;
            overflow: hidden;

            & .certificados-card {
                border-radius: 10px;
                background-color: var(--var-bg-card);
                padding: 20px;
                display: flex;
                flex-direction: row;
                gap: 15px;
                max-width: 450px;
                transition: all 0.2s ease;

                & .cer-card-title {
                    flex: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & h2 {
                        width: 100%;
                        font-size: var(--var-parrafos-2);
                    }

                    & span {
                        width: fit-content;
                        padding: 10px;
                        background-color: var(--var-bg);
                        border-radius: 10px;
                        color: var(--var-color-secondary);
                    }
                }

                & .cer-card-img {
                    flex: 30%;

                    & button {
                        border-radius: 10px;
                        padding: 0;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        & img {
                            border-radius: 10px;
                            width: 100%;
                        }
                    }
                }
            }

            & .certificados-card:hover {
                transform: scale(1.02);
            }
        }

        & .skill-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            padding-top: 20px;
            justify-content: center;

            & .skill-card {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                background-color: var(--var-bg-card);
                text-align: center;
                padding: 5px;

                & svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}

/* ====> contacto */
.c-4 {
    margin-bottom: 90px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    & .contacto-title {
        width: 100%;

        & h1 {
            font-size: var(--var-titulos);
            height: fit-content;
            text-align: center;
        }
    }

    & .contacto-contenido {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        gap: 60px;

        & .sub-contacto {
            display: flex;
            flex-direction: column;
            gap: 25px;
            flex: auto;

            & h2 {
                font-size: var(--var-subtitulos);
                text-align: center;
            }

            & .contacto-form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                background-color: var(--var-bg-card);
                padding: 20px;
                border-radius: 10px;

                & label {
                    width: fit-content;
                    font-size: var(--var-parrafos-2);
                    color: var(--var-color-primary);
                    padding-top: 10px;
                }

                & input {
                    color: var(--var-color-tertiary);
                    flex: auto;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: var(--var-parrafos-3);
                    outline: none;
                    background-color: var(--var-bg);
                    border: none;
                    transition: all 0.2s;
                }

                & input:focus,
                textarea:focus {
                    box-shadow: 0 0 0 5px #8585857e;
                }

                & textarea {
                    color: var(--var-color-tertiary);
                    padding: 10px;
                    border-radius: 5px;
                    font-size: var(--var-parrafos-3);
                    outline: none;
                    background-color: var(--var-bg);
                    border: none;
                    transition: all 0.2s;
                    resize: none;
                }

                & .contacto-input-submit {
                    margin-top: 15px;
                    background-color: var(--var-color-primary);
                    color: var(--var-color-tertiary);
                    border: none;
                    margin-bottom: 10px;
                }

                & .contacto-input-submit:hover {
                    box-shadow: 0 0 0 5px #8585857e;
                }
            }

            & .redes-contenedor {
                display: flex;
                flex-direction: column;
                gap: 25px;

                & .redes-correo {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    font-size: var(--var-parrafos-2);
                }

                & .redes-links {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    font-size: 2.4rem;

                    & a {
                        color: var(--var-color-primary);
                    }
                }
            }
        }
    }


}

/* ===> footer container */
.c-5 {
    & .footer-container {
        display: flex;
        gap: 20px;
        flex-direction: row;
        padding-top: 20px;
        font-size: 1.3rem;
        padding-bottom: 40px;

        & .footer-cp {
            flex: auto;
            width: 100%;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
        }

        & .footer-img {
            flex: auto;

            & img {
                width: 45px;
            }
        }
    }
}

/* ===> por defecto */
.btn {
    padding: 7px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

/* ajustes de tamaño de pantalla */
@media (width < 1024px) {
    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation-container {
        display: none;
    }

    .navigation-arrow-container {
        display: flex;
    }

    /*====> about*/
    .c-1 {
        padding-top: 0px;
        margin-bottom: 80px;
        height: fit-content;

        & .about-body {
            padding-top: 20px;
            flex-wrap: wrap;

            & .about-body-des {
                flex: 50%;
                gap: 10px;
                justify-content: right;
                align-items: start;

                & h1 {
                    display: block;
                    margin-bottom: 10px;
                    font-size: var(--var-titulos);
                }

                & p {
                    font-size: var(--var-parrafos-3);
                }
            }

            & .about-body-img {
                flex: auto;
                max-width: 300px;
                justify-content: center;
                align-items: center;
            }
        }
    }

    /*====> proyectos */
    .c-2 {
        margin-bottom: 20px;
        margin-top: 80px;
        padding-top: 0;

        & .projects-title {

            & h1 {
                font-size: 2.8rem;
            }
        }

        & .projects-container {

            & .projects-card {

                & .projects-card-content {

                    & .projects-card-body {

                        & .projects-card-body-des {

                            & h2 {
                                font-size: 2rem;
                            }

                            & p {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    /*====> skills*/
    .c-3 {
        margin-bottom: 20px;
        margin-top: 80px;
        padding-top: 0;
        gap: 40px;

        & .skill-title {

            & h1 {
                font-size: 2.8rem;
            }
        }

        & .c-3-sub {
            gap: 40px;

            & h1 {
                font-size: 2rem;
            }

            & .certificados-container {
                gap: 25px;

                & .certificados-card {
                    max-width: 500px;

                    & .cer-card-title {

                        & h2 {
                            font-size: 1.3rem;
                        }

                        & p {
                            font-size: 1.1rem;
                        }
                    }

                    & .cer-card-img {

                        & img {
                            width: 100%;
                        }
                    }
                }
            }

            & .skill-container {

                & .skill-card {
                    width: 80px;
                    height: 80px;
                }
            }
        }

    }

    /*====> contacto*/
    .c-4 {
        margin-bottom: 80px;
        margin-top: 80px;
        padding-top: 0;

        & .contacto-title {
            & h1 {
                font-size: 2.8rem;
            }
        }

        & .contacto-contenido {
            width: 80%;

        }
    }

    /*===> footer container*/
    .c-5 {
        margin-top: 10px;
        height: 80px;

        & .footer-container {
            padding-top: 10px;
        }
    }

    .fondo-container {
        & .f-item {
            height: 50px;
            width: 50px;
            filter: blur(80px);
        }
    }

    .modal {
        & .modal-container {
            width: 95%;
            padding: 15px;

            & .modal-cabecera {

                & .modal-title {
                    font-size: 1.5rem;
                }

                & button {
                    font-size: 2.6rem;
                }
            }
        }
    }

    .carrusel-container {
        height: 400px;
    }
}

@media (width < 720px) {
    .carrusel-container {
        height: 300px;
    }

    .c-1 {

        & .about-body {


            & .about-body-des {
                flex: auto;

            }

            & .about-body-img {
                flex: auto;
            }
        }
    }

    .c-4 {


        & .contacto-contenido {
            flex-wrap: wrap;

        }
    }
}

@media (width < 500px) {
    .carrusel-container {
        height: 200px;

        & .btn {
            font-size: 3rem;
            position: absolute;
            top: 40%;
            height: fit-content;

            & button {
                margin: 0;
                padding: 0;
                color: var(--var-color-secondary);
                border: none;
                display: flex;
                background-color: transparent;
                cursor: pointer;

            }
        }

        & .left {
            left: 0px;
        }

        & .right {
            right: 0px;
        }
    }

    .c-4 {

        & .contacto-body {
            min-width: auto;
            max-width: 300px;
        }

    }
}